@font-face {
  font-family: custom-font;
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/CustomFont-Medium.woff2) format("woff2");
}
html {
  font-family: custom-font, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  @apply bg-dark-900;
}

button {
  display: block;
  @apply focus:!outline-none;
}
ol,
ul {
  display: block;
  @apply pl-4;
}

label {
  display: block;
  @apply capitalize;
}

textarea,
input,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"] {
  @apply px-4 py-2 bg-dark-600 text-white font-thin rounded-lg placeholder-dark-50 border-3 border-dark-300 focus:ring-emerald-400 focus:outline-none focus:border-emerald-500;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

code,
.code {
  @apply font-mono text-sm uppercase bg-dark-300 px-4 py-1 rounded;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}

.btn {
  @apply px-6 py-2 rounded-lg bg-emerald-500 border-3 border-emerald-500 transition hover:bg-emerald-600 hover:border-emerald-600 focus:border-emerald-600 focus:outline-none outline-none disabled:bg-emerald-400 disabled:cursor-not-allowed;
}

.btn-pale {
  display: inline-flex;
  @apply px-6 py-2 rounded-lg border-3 border-light-900  transition hover:border-gray-400 focus:border-gray-400 focus:outline-none outline-none;
}

.btn-icon {
  @apply p-3 flex rounded-lg bg-dark-800 border-2 border-dark-600 cursor-pointer opacity-50 hover:opacity-100 hover:bg-dark-600 focus:outline-none transition duration-100;
}

.swiper-pagination-bullet {
  @apply !bg-white;
}
.swiper-button-disabled {
  @apply opacity-50;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.slide-fade-enter-from {
  transform: translateY(-20px);
  opacity: 0;
}

.card-grid {
  @apply grid sm:grid-cols-2 lg:grid-cols-3 row-auto gap-4 gap-y-8 md:gap-8 lg:gap-16;
}
